.container {
  display: block;
}

.weather-app {
  border: 2px solid yellow;
  padding: 40px;
  max-width: 800px;
  margin: auto;
  border-radius: 30px;
  border-image: linear-gradient(#1eaef6, #e3f4fe, #fffae0, #ffcd00) 30;
  border-width: 6px;
  border-style: solid;
}
